.dash-effect {
  width: 45px;
  height: 45px;

  animation: dash-shake 0.3s ease-in-out infinite;
}

@keyframes dash-shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-6px);
  }

  50% {
    transform: translateX(6px);
  }

  75% {
    transform: translateX(-6px);
  }

  100% {
    transform: translateX(0);
  }
}