.game-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.chess-board {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.rank {
  display: flex;
}

.square {
  width: 80px;
  height: 80px;
  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 64px;
}

.light {
  background-color: beige;
}

.dark {
  background-color: dimgray;
}

.selected {
  box-shadow: inset 0 0 0 4px lightblue;
}

.valid-move {
  box-shadow: inset 0 0 0 4px lightgreen;
}

.frozen-square {
  background-color: rgba(80, 180, 255, 0.45) !important;
}

.bomb-square {
  box-shadow: inset 0 0 0 4px red;
}

.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

.piece-image {
  width: 70px;
  height: 70px;
}

.dash-square {
  box-shadow: inset 0 0 0 5px yellow;
}

.rock-square {
  background-color: #500;
}